.gradle/
build/
/app/release


*.iml
/local.properties
/captures


/.idea/*

!/.idea/codeStyles/
/.idea/codeStyles/*
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml

!/.idea/dictionaries/*.xml

!/.idea/encodings.xml
!/.idea/gradle.xml
!/.idea/kotlinScripting.xml
!/.idea/runConfigurations.xml
!/.idea/vcs.xml
